@import '../../theme.css';

.timer {
  width: var(--card-width);
  height: var(--card-height);
  border: 1px solid var(--primary);
  border-radius: 4px;
  padding: 20px;
  margin: var(--card-margin);
  cursor: pointer;
  background-color: white;
  position: relative;
}

.timer:hover {
  box-shadow: var(--std-shadow);
}

.timer.running {
  background-color: var(--primary);
  color: var(--icons-text);
}

.timer.running:hover {
  box-shadow: var(--strong-shadow);
}

.timer .upper {
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  color: var(--secondary-light);
}

.timer .lower {
  text-align: center;
  width: 100%;
}

.timer .title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.timer .more {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  padding: 11px 12px;
  color: var(--icons-text);
  border: 1px solid var(--accent);
  background-color: var(--accent);
  cursor: pointer;
}

.timer .more:hover {
  box-shadow: var(--std-shadow);
}


.timer .more-icon {
  font-size: 1.5rem;
}
